.elementor-31948 .elementor-element.elementor-element-6f21c84 {
	--display: flex;
	--background-transition: 0.3s;
}
.elementor-31948 .elementor-element.elementor-element-60c2109 .elementor-heading-title {
	color: #202020;
	font-style: normal;
	font-family: var(--e-global-typography-ecfe90a-font-family);
	font-size: var(--e-global-typography-ecfe90a-font-size);
	font-weight: var(--e-global-typography-ecfe90a-font-weight);
	line-height: var(--e-global-typography-ecfe90a-line-height);
	letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
	word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
}
.elementor-31948 .elementor-element.elementor-element-60c2109 > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-8ac04b6 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-8ac04b6 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-22242b4 .elementor-heading-title {
	color: #202020;
	font-style: normal;
	font-family: var(--e-global-typography-ecfe90a-font-family);
	font-size: var(--e-global-typography-ecfe90a-font-size);
	font-weight: var(--e-global-typography-ecfe90a-font-weight);
	line-height: var(--e-global-typography-ecfe90a-line-height);
	letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
	word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
}
.elementor-31948 .elementor-element.elementor-element-22242b4 > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-92b7f49 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-92b7f49 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-70e0412 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-70e0412 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-c4c009e .elementor-heading-title {
	font-style: normal;
	color: #202020;
	font-family: var(--e-global-typography-ecfe90a-font-family);
	font-size: var(--e-global-typography-ecfe90a-font-size);
	font-weight: var(--e-global-typography-ecfe90a-font-weight);
	line-height: var(--e-global-typography-ecfe90a-line-height);
	letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
	word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
}
.elementor-31948 .elementor-element.elementor-element-c4c009e > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-d19ab5a img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-d19ab5a > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-da44003 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-da44003 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-7233bf5 .elementor-heading-title {
	color: #202020;
	font-family: var(--e-global-typography-ecfe90a-font-family);
	font-size: var(--e-global-typography-ecfe90a-font-size);
	font-weight: var(--e-global-typography-ecfe90a-font-weight);
	line-height: var(--e-global-typography-ecfe90a-line-height);
	letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
	word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
}
.elementor-31948 .elementor-element.elementor-element-7233bf5 > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-83d87d8 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-83d87d8 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-615fc85 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-615fc85 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-dfbfc84 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-dfbfc84 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-243db78 .elementor-heading-title {
	color: #202020;
	font-family: var(--e-global-typography-ecfe90a-font-family);
	font-size: var(--e-global-typography-ecfe90a-font-size);
	font-weight: var(--e-global-typography-ecfe90a-font-weight);
	line-height: var(--e-global-typography-ecfe90a-line-height);
	letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
	word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
}
.elementor-31948 .elementor-element.elementor-element-243db78 > .elementor-widget-container {
	margin: 24px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-45e1328 img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-45e1328 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-31948 .elementor-element.elementor-element-cc9bf1b img {
	width: 100%;
}
.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
	font-family: var(--e-global-typography-238bb21-font-family);
	font-size: var(--e-global-typography-238bb21-font-size);
	font-weight: var(--e-global-typography-238bb21-font-weight);
	font-style: var(--e-global-typography-238bb21-font-style);
	line-height: var(--e-global-typography-238bb21-line-height);
	letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
	word-spacing: var(--e-global-typography-238bb21-word-spacing);
	margin-top: 12px;
}
.elementor-31948 .elementor-element.elementor-element-cc9bf1b > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
@media (min-width: 1920px) {
	.elementor-31948 .elementor-element.elementor-element-60c2109 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-22242b4 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		font-style: normal;
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-c4c009e .elementor-heading-title {
		font-style: normal;
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-7233bf5 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-243db78 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
}
@media (max-width: 1919px) {
	.elementor-31948 .elementor-element.elementor-element-60c2109 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-22242b4 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		font-style: normal;
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-c4c009e .elementor-heading-title {
		font-style: normal;
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-7233bf5 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-243db78 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 1279px) {
	.elementor-31948 .elementor-element.elementor-element-60c2109 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-22242b4 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		font-style: normal;
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-c4c009e .elementor-heading-title {
		font-style: normal;
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-7233bf5 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-243db78 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 880px) {
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 639px) {
	.elementor-31948 .elementor-element.elementor-element-60c2109 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-60c2109 > .elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-8ac04b6 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-22242b4 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		font-style: normal;
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-22242b4 > .elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-92b7f49 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-70e0412 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-c4c009e .elementor-heading-title {
		font-style: normal;
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-c4c009e > .elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-d19ab5a > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-da44003 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-7233bf5 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-7233bf5 > .elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-83d87d8 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-615fc85 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-dfbfc84 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-243db78 .elementor-heading-title {
		font-size: var(--e-global-typography-ecfe90a-font-size);
		line-height: var(--e-global-typography-ecfe90a-line-height);
		letter-spacing: var(--e-global-typography-ecfe90a-letter-spacing);
		word-spacing: var(--e-global-typography-ecfe90a-word-spacing);
	}
	.elementor-31948 .elementor-element.elementor-element-243db78 > .elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-45e1328 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b .widget-image-caption {
		font-size: var(--e-global-typography-238bb21-font-size);
		line-height: var(--e-global-typography-238bb21-line-height);
		letter-spacing: var(--e-global-typography-238bb21-letter-spacing);
		word-spacing: var(--e-global-typography-238bb21-word-spacing);
		margin-top: 8px;
	}
	.elementor-31948 .elementor-element.elementor-element-cc9bf1b > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}
